<div id="memory_board">
  <button (click)="mix()">mix</button>
  <div id="buttons" >
  <button (click)="showLetter()" style="height: 100px; width: 100px">{{click}}</button>
  <button (click)="showLetter1()" style="height: 100px; width: 100px">{{click1}}</button>
  <button (click)="showLetter2()" style="height: 100px; width: 100px">{{click2}}</button>
  <button (click)="showLetter3()" style="height: 100px; width: 100px">{{click3}}</button>
  <button (click)="showLetter4()" style="height: 100px; width: 100px">{{click4}}</button>
  <button (click)="showLetter5()" style="height: 100px; width: 100px">{{click5}}</button>
  <button (click)="showLetter6()" style="height: 100px; width: 100px">{{click6}}</button>
  <button (click)="showLetter7()" style="height: 100px; width: 100px">{{click7}}</button>
  <button (click)="showLetter8()" style="height: 100px; width: 100px">{{click8}}</button>
  <button (click)="showLetter9()" style="height: 100px; width: 100px">{{click9}}</button>
</div>
</div>
